html {
    background-color: black;
    color: white;
    text-align: center;
    font-family: Verdana, 'sans-serif';
}

/* Header section */

.title h1 {
    font-weight: normal;
    font-size: 50px;
}

a {
    color: aquamarine;
}

#video {
    margin-top: 10px;
}

h2 {
    font-weight: 300;
    font-size: 42px;
}

#content .title span {
    font-size: 21px;
    color: gray;
}

.image {
    margin-top: 25px;
    margin-bottom: 25px;
}

.copyright {
    text-align: right;
    color: gray;
}