html {
    background-color: black;
    color: white;
    text-align: center;
    font-family: Verdana, 'sans-serif';
}

/* Header section */

.title h1 {
    font-weight: normal;
    font-size: 50px;
}

a {
    color: aquamarine;
}

